.sidebar {
    display: flex;
    padding: 10px 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sb-top, .sb-bottom {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 40px;
    height: 35px;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon:hover, .icon:focus {
    background-color: var(--icon-hover-color);
}

.chat-icon, .user-icon {
    position: relative;
    justify-self: flex-start;
}

.settings-icon, .profile-icon {
    justify-self: flex-end;
}

.pill {
    position: absolute;
    display: none;
    top: 50%;
    left: 0;
    width: 3px;
    height: 18px;
    border-radius: 9px;
    background-color: var(--primary-color);
    translate: -50% -50%;
}

.sb-top .icon:active .pill {
    display: initial;
}

.chat-icon {
    background-color: var(--icon-hover-color);
}

.chat-icon > .pill {
    display: initial;
}